doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        link(rel="stylesheet", href="/material-design-icons-iconfont/material-design-icons.css")
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/init.min.css")

        script(src="/jquery/jquery.min.js")
        script(src="/vue/vue.min.js")
        script(src="/materialize/js/materialize.min.js")
        script(src="/js/jquery.sticky-kit.min.js")

        script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script.
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2810659463174293",
                enable_page_level_ads: true
            });
    body
        header
            nav.blue.lighten-1.theme
                .nav-wrapper
                    a.brand-logo(href="/") ON Demand
                    a.button-collapse(href="#", data-activates="mobile-menu")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#") test
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-nav") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-nav.dropdown-content
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/nick") 닉네임 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/uuid") UUID 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/history") History 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/api") API Docs
                        li
                            a.dropdown-button(href="/dev", data-activates="dev-nav") 
                                | Dev
                                i.material-icons.right arrow_drop_down
                            ul#dev-nav.dropdown-content
                                li
                                    a.blue-text.text-lighten-1(href="/dev/gjmoribot") GJMoriBot
                    ul.side-nav#mobile-menu
                        li
                            a(href="#") test
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-side") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-side.dropdown-content
                                li
                                    a(href="/minecraft/nick") 닉네임 조회
                                li
                                    a(href="/minecraft/uuid") UUID 조회
                                li
                                    a(href="/minecraft/history") History 조회
                                li
                                    a(href="/minecraft/api") API Docs
                        li
                            a.dropdown-button(href="/dev", data-activates="dev-side") 
                                | Dev
                                i.material-icons.right arrow_drop_down
                            ul#dev-side.dropdown-content
                                li
                                    a(href="/dev/gjmoribot") GJMoriBot
        .container#contents
            .ad
                <!-- On Demand-main -->
                ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2810659463174293", data-ad-slot="4386636415", data-ad-format="auto")
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                p google AD
            .row
                .col.s12.l1.push-l11
                    .sidebox
                        a(href="/donate")
                            <!-- Donate icon by Icons8 -->
                            img(src="https://png.icons8.com/donate/color/96", title="Donate", style="margin-top: 20px; margin-bottom: -20px")
                        block scrollspy
                .col.s12.l11.pull-l1(style="min-height: 400px;")
                    block content
            .ad(style="margin-top: -20px")
                <!-- On Demand-footer -->
                ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2810659463174293", data-ad-slot="9403901631", data-ad-format="auto")
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                p google AD
        footer.page-footer.blue.lighten-1.theme
            .container
                .row
                    .col.l6.s0
                        h5.white-text 사이트 안내
                        p.grey-text.text-lighten-4 
                            | 본 사이트는 Materialize 프레임워크를 사용하여 개발되었습니다.
                            br
                            | 본 사이트의 Donate icon은 
                            a.white-text(href="https://icons8.com") icons8.com
                            |  에서 제공받고 있습니다.
                    .col.l4.offset-12.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
            .footer-copyright
                .container
                    p © 2017. 볕뉘(small-sunshine) all rights reserved.
        script(async, src="/js/init.min.js")
        script(async, src="/js/sidenav.min.js")
        script(async, src="/js/dropdown.min.js")
        script(async, src="/js/scrollspy.min.js")
        block scripts