doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        //link(rel="stylesheet", href="/waves/waves.min.css")
        link(rel="stylesheet", href="/material-design-icons-iconfont/material-design-icons.css")
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/init.css")
    body
        header
            nav.blue.lighten-1.theme
                .nav-wrapper
                    a.brand-logo(href="/") ON Demand
                    a.button-collapse(href="#", data-activates="mobile-menu")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#") test
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-nav") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-nav.dropdown-content
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/nick") 닉네임 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/uuid") UUID 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/history") History 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/api") API Docs
                    ul.side-nav#mobile-menu
                        li
                            a(href="#") test
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-side") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-side.dropdown-content
                                li
                                    a(href="/minecraft/nick") 닉네임 조회
                                li
                                    a(href="/minecraft/uuid") UUID 조회
        .container#contents(style="min-height: 400px")
            .row
                .col.s12.l1.push-l11#floatMenu
                    block scrollspy
                .col.s12.l11.pull-l1
                    block content
        footer.page-footer.blue.lighten-1.theme
            .container
                .row
                    .col.l6.s0
                        h5.white-text 사이트 안내
                        p.grey-text.text-lighten-4 
                            | 본 사이트는 Materialize 프레임워크를 사용하여 개발되었습니다.
                            br
                            | 본 사이트와 같은 레이아웃은 대부분 쉽게 개발이 가능합니다만,
                            |  그대로 배끼는 것은 양심의 문제로 보겠습니다.
                    .col.l4.offset-12.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
                            li
                                a.grey-text.text-lighten-3(href="#") test
            .footer-copyright
                .container
                    p © 2017. 볕뉘(small-sunshine) all rights reserved.

        script(src="/jquery/jquery.min.js")
        script(src="/vue/vue.min.js")
        //script(src="/waves/waves.min.js")
        script(async, src="/materialize/js/materialize.js")
        script(async, src="/js/init.js")
        block scripts