extends ../layout.pug

block title
    title UUID Query - Minecraft - ON Demand
block content
    #search.section.scrollspy
        .card.z-depth-2
            .card-content
                #mcuuid(v-cloak)
                    p.card-title 마인크래프트 UUID 조회
                    p 마인크래프트 UUID으로 유저정보를 찾아볼 수 있습니다.
                    br
                    div(v-if="status == 'searching'")
                        .center-align
                            .preloader-wrapper.big.active
                                .spinner-layer.spinner-green-only
                                    .circle-clipper.left
                                        .circle
                                    .gap-patch
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            br
                            br
                            p 유저를 찾고 있습니다. 잠시만 기다려주세요.
                    div(v-else-if="status == false")
                        .center-align
                            .card.red.lighten-2
                                .card-content.white-text
                                    span.card-title Error
                                    p 없는 유저입니다. UUID를 다시 확인해주세요.
                    div(v-else-if="status == 'uuid_null'")
                        .center-align
                            .card.red.lighten-2
                                .card-content.white-text
                                    span.card-title Error
                                    p 찾을 UUID를 입력해주세요.
                    div(v-else-if="status == 'error'")
                        .center-align
                            .card.red.lighten-2
                                .card-content.white-text
                                    span.card-title Error
                                    p 에러가 발생했습니다. 나중에 다시 시도해주세요.
                    div(v-else-if="status == true")
                        .center-align
                            .card.green.lighten-2
                                .card-content.white-text
                                    span.card-title Success
                                    p 검색에 성공했습니다.
                            .row
                                .col.s12.m4
                                    img(v-bind:src="'https://crafatar.com/renders/body/'+user.uuid+'?&default=MHF_Alex&overlay'")
                                table.col.s12.m6.bordered
                                    tr
                                        th 닉네임
                                        td {{user.nick}}
                                    tr
                                        th UUID
                                        td {{user.uuid}}
                                    tr
                                        th Full UUID
                                        td {{user.full_uuid}}
                                    tr
                                        th 검색 시간
                                        td {{user.query_time}}
                    div(v-if="form == true")
                        form.row(v-on:submit.prevent="onSubmit")
                            .input-field.col.s9
                                input#input(placeholder="UUID", type="text", v-model="query_uuid")
                                label(for="uuid") UUID
                            .col.s3
                                input.btn.btn-large.green.darken-2(type="submit" value="조회")
                noscript
                    | 본 페이지는 Javascript를 기반으로 작동됩니다.
                    br
                    | Javascript를 사용하게끔 설정하여 주신 뒤, 
                    | 이 페이지를 이용해주시기 바랍니다.
    #info.section.scrollspy(style="min-height: 200px")
        .card.z-depth-2
            .card-content
                p.card-title 정보
                p 유저 정보는 자체 API서버에서 받아오며, 5분 캐시가 적용됩니다.
                p
                | 자체 API서버는 사용을 원하신다면 
                a(href="/minecraft/api") API Docs
                |  를 확인 부탁드립니다.
                p
                |  유저 스킨은 
                a(href="https://crafatar.com", target="_blank") Crafatar
                |  에서 받아오고 있습니다.
    #help.section.scrollspy
        .card.z-depth-2
            .card-content
                p.card-title 도움말
                p 만약 도움이 필요하실 경우 여기로 연락 부탁드립니다.
                br
                a(href='mailto:webmaster@mori.space', target="_blank")
                    i.material-icons.tiny contact_mail
                    |  webmaster@mori.space
                br
                a(href='https://t.me/small_sunshine', target="_blank")
                    i.fa.fa-telegram(aria-hidden='true')
                    |  @small_sunshine
block scrollspy
    div
        ul.section.table-of-contents
            li
                a(href="#search") Search
            li
                a(href="#info") Information
            li
                a(href="#help") Help
block scripts
    script(async, src="/js/mcuuid.min.js")
    script(async, src="/moment/moment.min.js")