@charset "utf-8";

@media (max-width: 992px) {
    div.sidebox {
        display: none;
    }
}
@media (min-width: 992px) {
    nav div.nav-wrapper a.brand-logo {
        margin-left: 10px !important;
    }
}

[v-cloak] {
    display: none;
}

header nav {
    margin-bottom: 20px;
}

div.ad p {
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4em;
}

div.sidebox {
    position: absolute;
}

div.ad {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 100%;
    min-height: 60px;
    position: relative;
}