extends ../layout.pug

block content
    #title.section.scrollspy
        .card.z-depth-2
            .card-content
                p.card-title GJMoriBot
block scrollspy
    div
        ul.section.table-of-contents
            li
                a(href="#title") GJMoriBot